@font-face {
    font-family: 'Passenger Sans';
    src: url('PassengerSans-Bold.eot');
    src: url('PassengerSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('PassengerSans-Bold.woff') format('woff'),
        url('PassengerSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Passenger Sans';
    src: url('PassengerSans-Black.eot');
    src: url('PassengerSans-Black.eot?#iefix') format('embedded-opentype'),
        url('PassengerSans-Black.woff') format('woff'),
        url('PassengerSans-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Passenger Sans';
    src: url('PassengerSans-Medium.eot');
    src: url('PassengerSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('PassengerSans-Medium.woff') format('woff'),
        url('PassengerSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Passenger Sans';
    src: url('PassengerSans-Regular.eot');
    src: url('PassengerSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PassengerSans-Regular.woff') format('woff'),
        url('PassengerSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-text: #464646;
  --color-title: #202020;
  --color-red: #BD202E;
  --color-white: #FFFFFF;
  --color-white-gray: #F8F8F8;
  --color-white-light: #FBF8F6;
}
body{
  font-family: 'Passenger Sans' , Sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 300;
  color: var(--color-text);
}
ol,ul{
  list-style: none;
}
li{
  list-style: none;
}
a{
  color: var(--color-text);
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
}
input[type="email"],input[type="text"],input[type="phone"],textarea{
  border: none;
  outline: none;
}
input[type="email"],input[type="text"],input[type="phone"],textarea:focus{
  outline: none;
}
button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6,a,address,label,input,button,textarea{
  font-family: 'Passenger Sans', Sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: var(--color-title);
}

h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
}
h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
}
h3{
  font-size: 31px;
  font-weight: 600;
  line-height: 37.2px;
}
h4{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
h5{
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  
}

/* common style start */
.container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  background-color: var(--color-red);
  padding: 18px 24px;
  color: var(--color-white);
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 100px;
  transition: 0.3s ease-in;
}
.btn:hover{
  background-color: rgba(189, 32, 46, 0.8);
}
.datils{
  color: var(--color-red);
  position: relative;
}
.datils::after{
  position: absolute;
  top: 50%;
  left: -56px;
  content: "";
  width: 48px;
  height: 1px;
  transform: translateY(-50%);
  background-color: var(--color-red);
}
/* common style end */

@media(max-width:768px){
  body{
    font-size: 14px;
    line-height: 16.4px;
  }
  h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 40.6px;
  }
  h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40.6px;
  }
  h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 26.2px;
  }
  h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  h5{
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }
}

/* header section start */
.header-section{
  padding-top: 15px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.header-wrap{
  display: flex;
  align-items: center;
  gap: 90px;
}
.menu-wrap{
  display: flex;
  flex: 1;
  gap: 32px;
}
.menu-wrap li a {
  padding: 14px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}
.menu-wrap li:hover a{
  color: var(--color-red);
}

.page-active{
  color: var(--color-red);
}
.mobile-btn{
  display: none;
}
.menu-wrap.active {
  left: 0;
}

.menu-toggle {
  position: relative; /* parent wrapper */
  width: 30px; /* icon wrapper width */
  height: 30px; /* icon wrapper height */
}

.hamburger-icon,
.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.close-icon {
  opacity: 0;
  z-index: 1;
  pointer-events: none; /* click won’t register when hidden */
}

/* Active states */
.hamburger-icon.hide {
  opacity: 0;
  pointer-events: none;
}

.close-icon.show {
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 1024px) { 
  .hamburger-icon,
  .close-icon {
    display: none !important;
  }
}

@media(max-width:1024px){
  .header-section{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-wrap{
    justify-content: space-between;
  }
  
  .menu-wrap li{
    transition: 0.3s ease-in;
  }
  .menu-wrap li:hover{
    background-color: var(--color-text);
  }
  .menu-wrap li:hover a{
    color: var(--color-white);
  }
  .hamburger-icon {
    opacity: 1;
    z-index: 2; /* visible on top initially */
  }
  .btn {
    padding: 15px;
    font-size: 14px;
    line-height: 14px;
  }
  .header-wrap {
    gap: 10px;
  }
  .menu-wrap {
    position: absolute;
    top: 67px;
    left: -9999px;
    width: 100%;
    height: 100vh;
    background: #ddd;
    z-index: 99;
    padding-top: 20px;
    flex-direction: column;
    gap: 0;
    transition: left 0.4s ease-in-out;
  }
  .menu-wrap li a {
    padding: 14px 15px;
  }
  .desktop-btn{
    display: none;

  }
  .mobile-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    margin-left: 15px;
    margin-top: 10px;
  }
  
}
@media(max-width:1280px){
  .header-wrap{
    gap: 20px;
  }
}
/* header section end */
/* hero section start */
.hero-section{
  padding-top: 64px;
}
.hero-section .hero-wrap{
  padding-left: 55px;
  padding-right: 20px;
}
.hero-wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.hero-content{
  max-width: 40.258%;
  margin-top: 100px;
  padding-right: 64px;
}
.hero-section .slide-wrap{
  max-width: 59.742%;
  padding-right: 70px;
}
.hero-content h2{
  margin-bottom: 12px;
}
.hero-content p{
  margin-bottom: 28px;
}
.hero-content .datils{
  margin-left: 56px;
}

 /* Vertical swiper height set */
 
  .hero-section .slide-wrap {
    width: 100%;
    height: 592px; 
    position: relative;
    overflow: hidden;
  }

  .hero-section .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  /* Vertical navigation arrows reposition */
  .hero-section .swiper-button-next,
  .hero-section .swiper-button-prev {
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
  }

  .hero-section .swiper-button-next {
    top: auto;
    bottom: 10px;
  }

  .hero-section .swiper-button-prev {
    top: 10px;
    bottom: auto;
  }


    /* Custom navigation buttons */
  .hero-section .swiper-buttons-wrapper {
    position: absolute;
    right: 28px; 
    bottom: 44px;
    transform: translateY(-50%);
    
  }

  .hero-section .swiper-buttons-wrapper button {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }

  .hero-section .swiper-button-next {
    bottom: 20px;
    background-image: url('./assets/img/arrow-top.svg'); 
  }

  .hero-section .swiper-button-prev {
    top: 10px;
    background-image: url('./assets/img/arrow-bottom.svg'); 
  }

  /* Hide default arrow */
  .hero-section .swiper-button-next::after,
  .hero-section .swiper-button-prev::after {
    display: none;
  }

@media(max-width:768px){
  .hero-section .hero-wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
  .hero-section {
    padding-top: 30px;
  }
  .hero-content {
    margin-top: 0px !important;
    padding-right: 0;
  }
  .hero-section .slide-wrap {
    margin-right: 0px;
    height: 380px !important;
  }
  .hero-section .swiper-buttons-wrapper {
    bottom: -64px !important;
  }
  .hero-section .swiper-button-prev {
    top: -31px;
    left: -37px;
  }
  .hero-section .swiper-buttons-wrapper {
    bottom: -67px;
  }
  .hero-section .swiper-buttons-wrapper button {
    width: 30px;
    height: 30px;
  }
  .hero-section .swiper-button-next {
    bottom: 23px;
  }
}
@media(max-width:1024px){
  .hero-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .hero-content {
    max-width: 100%;
  }
  .hero-section .slide-wrap {
    max-width: 100%;
    height: 480px;
  }
  
}
@media(max-width:1280px){
  .hero-content {
    margin-top: 40px;
  }
  .hero-section .swiper-buttons-wrapper {
    bottom: -108px;
  }
  .hero-section .slide-wrap{
    padding-right: 0px;
  }
}

/* hero section end */
/* scroll section start */
.scroll-section{
  background-color: var(--color-red);
  margin-top: -125px;
  margin-bottom: 60px;
}
.scroll h5{
  writing-mode: vertical-rl;
  transform: rotate(180.1deg);
  height: 100px;
  color: var(--color-white);
  font-weight: 500;
  position: relative;
}
.scroll h5::before{
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 2px;
  content: "";
  background-color: var(--color-white);
}
.scroll{
  padding-top: 53px;
  padding-bottom: 47px;
  display: flex;
  align-items: end;
  gap: 64px;
}
.scroll-social{
  display: flex;
  align-items: center;
  gap: 16px;
}
.scroll-social a{
  display: flex;
}
@media(max-width:768px){
  .scroll-section {
    margin-bottom: 30px;
  }
  .scroll {
    padding-top: 12px;
    padding-bottom: 18px;
    align-items: center;
  }
  .scroll h5 {
    writing-mode: unset;
    transform: unset;
    height: auto;
    color: var(--color-white);
    font-weight: 500;
    position: relative;
  }
  .scroll h5::before {
    top: 17px;
    left: 0px;
    height: 1px;
    width: 150%;
  }
  .scroll-social {
    gap: 5px;
  }
}
@media(max-width:1280px){
  .scroll-section {
    margin-top: 0px;
  }
}
/* scroll section end */
/* img section start */
.img-section{
  padding-top: 60px;
  padding-bottom: 60px;
}
@media(max-width:768px){
  .img-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* img section end */
/* mission vision start */
.mission-vision-section{
  padding-top: 60px;
  padding-bottom: 55px;
}
.mission-vision-wrap{
  display: flex;
}
.mission-vision-left{
  max-width: 32.969%;
  width: 100%;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mission-vision-right{
  max-width: calc(100% - 32.969%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mission-item{
  background-color: var(--color-white-light);
  border-radius: 28px;
  padding: 59px 32px 58px;
}
.mission-item h3{
  margin-bottom: 16px;
}
.mission-item ol {
  padding-top: 19px;
  padding-left: 18px;
}
.vision-bottom ol {
  padding-left: 18px;
}
.mission-item li,
.vision-bottom li{
  list-style-type: decimal;
}
.mission-item-img{
  display: flex;
}
.vision-top{
  display: flex;
  gap: 32px;
  & div{
    display: flex;
  }
}
.vision-bottom{
  background-image: url(./assets/img/vision-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFEFF1;
  padding: 128px 51px 46px 52px;
  border-radius: 28px;
}
.vision-bottom h3{
  margin-bottom: 16px;
}
@media(max-width:1024px){
  .mission-vision-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mission-vision-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .mission-vision-left {
    max-width: 100%;
    flex-direction: row;
    padding-right: 0;
    gap: 20px;
  }
  .mission-item{
    width: calc(100% - 390px);
  }
  .mission-item-img{
    width: 390px;
  }
  .mission-vision-right {
    max-width: 100%;
    gap: 20px;
  }
  .vision-top {
    gap: 20px;
  }
}
@media(max-width:768px){
  .vision-bottom {
    background-image: url(./assets/img/vision-bg.png);
    background-position: top;
    background-size: contain;
    padding: 40px 20px 20px;
    border-radius: 24px;
  }
  .mission-vision-left {
    flex-direction: column;
  }
  .mission-item {
    width: 100%;
    background-color: var(--color-white-light);
    border-radius: 28px;
    padding: 20px 20px 20px;
  }
  .mission-item-img {
    width: 100%;
  }

}
/* mission vision end */
/* our intiatives section start */
.our-info-section{
  padding-top: 55px;
}

.our-info-wrap{
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 28px;
  gap: 20px;
}
.info-border{
  border-bottom: 1px solid #C7C7C7;
}
.our-info-content{
  max-width: 56.093%;
}
.our-info-title {
  max-width: calc(100% - 56.093%);
}
.our-info-content h2{
  margin-bottom: 12px;
}
.info-section .swiper {
  width: 100%;
  padding: 20px 0;
}
.info-section .swiper-wrapper {
  padding-right: 40px;
}
.info-section .swiper-wrapper {
  padding-left: 0;   /* বামপাশে empty রাখার জন্য */
}

.info-section .swiper-slide {
  height: auto;
}
@media (max-width:768px){
  .our-info-section {
    padding-top: 30px;
  }
}
@media (max-width:480px){
  .our-info-wrap{
    flex-direction: column;
  }
  .our-info-content{
    max-width: 100%;
  }
  .our-info-title{
    max-width: 100%;
  }
}
/* our intiatives section end */
/* information section start */
.info-section{
  padding-top: 52px;
  padding-bottom: 50px;
}
.info-wrap{
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}
.info-item{
  max-width: 408px;
  padding: 137px 20px 28px;
  background: #FFFFFF; 
  box-shadow: 0px 5px 10px rgba(145, 158, 171, 0.12); border-radius: 24px 184px 24px 24px;
  position: relative;
}
.info-item h3{
  margin-bottom: 24px;
}
.arow-wrap{
  max-width: 106px;
  height: 106px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
@media(max-width:768px){
  .info-item {
    padding: 80px 20px 20px;
    border-radius: 20px 120px 20px 20px;
  }
  .info-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .arow-wrap {
    max-width: 70px;
    height: 70px;
  }
}
/* information section end */
/* Our thoughts section start */
.thoughts .our-info-content{
  max-width: 65.938%;
}

.thoughts .our-info-title {
  max-width: calc(100% - 65.938%);
}
.event-wrap{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 40px;
}
.event-item h4{
  margin-block: 16px;
}
.event-info{
  display: flex;
  gap: 20px;
  margin-top: 29px;
}
.event-info-item{
  display: flex;
  align-items: center;
  gap: 8px;
  & div{
    display: flex;
    width: 16px;
    height: 16px;
  }
}

.event-btn{
  background-color: rgba(189, 32, 46, 0.08);
  padding: 8px 12px;
  color: var(--color-red);
  border-radius: 100px;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 300;
  transition: 0.3s ease-in;
}
.event-btn:hover{
  
  background-color: rgba(189, 32, 46, 0.20);
}
@media (max-width:480px){
  .thoughts .our-info-content {
    max-width: 100%;
  }
}

@media(max-width:768px){
  .event-wrap{
    grid-template-columns:repeat(1, 1fr) !important;
  }
  .event-info {
    margin-top: 16px;
  }
  .event-item h4{
    font-size: 17px;
    line-height: 19px;
  }
}

@media(max-width:1024px){
  .event-wrap{
    grid-template-columns:repeat(2, 1fr);
  }
}
@media(max-width:1280px){
  .event-wrap {
    column-gap: 20px;
  }
  .event-info {
    gap: 12px;
  }
  .event-info-item p{
    font-size: 14px;
    line-height: 16px;
  }
}
/* Our thoughts section end */
/* Our event section start */
.our-event{
  padding-bottom: 69px;
}
.our-event-wrap{
  display: flex;
  align-items: end;
  background-color: #332626;
  border-radius: 28px;
  overflow: hidden;
}
.our-event-content{
  max-width: calc(100% - 60%);
  padding: 48px;
  color: var(--color-white);
}
.our-event-content h4{
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  color: var(--color-white);
}
.our-event .event-info-item p{
  color: rgba(255, 255, 255, 0.56);
}
.our-event .event-info{
  margin-block: 20px;
}
.our-event-content .datils{
  color: var(--color-white);
  margin-top: 32px;
  margin-left: 56px;
}
.our-event-content .datils::after{
  background-color: var(--color-white);
}
.our-event-image{
  max-width: 60%;
  display: flex;
}


@media(max-width:768px){
  .our-event {
    padding-bottom: 30px;
  }
  .our-event-wrap {
    flex-direction: column;
  }
  .our-event-content {
    max-width: 100%;
  }
  .our-event-image {
    max-width: 100%;
  }
}
@media(max-width:1024px){
  .our-event-content {
    padding: 30px;
  }
  .event-info {
    flex-direction: column;
  }
}
/* Our event section end */
/* Accordian section start */
.accordian-section{
  padding-top: 69px;
  padding-bottom: 70px;
}
.title-area{
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 42px;
}
.title-area h2{
  margin-bottom: 12px;
}
.accordian-wrap{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accordian-item{
  display: flex;
  align-items: center;
  border: 1px solid rgba(189, 32, 46, 0.2);
  padding: 24px 20px;
  border-radius: 0px 32px 0px 0px;
  cursor: pointer;
  gap: 32px;
}

 .accordian-icon {
  position: relative;
  max-width: 20px;
  width: 100%;
  height: 20px;
}

.accordian-icon i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--color-red);
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease; 
}

.accordian-icon i:last-child {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  transition: all 0.5s ease; 
}

.accordian-content h4 {
  margin-bottom: 12px;
}

.content-close {
  opacity: 0;
  display: none;
}

.active.accordian-item {
  background-color: rgba(189, 32, 46, 0.12);
  padding-block: 32px;
}

.active .accordian-icon i:last-child {
  opacity: 0;
  transform: translateX(-50%) scaleY(0); 
}

@media(max-width:768px){
  .accordian-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .accordian-item {
    padding: 12px 12px;
    border-radius: 0px 24px 0px 0px;
    gap: 14px;
  }
  .accordian-icon {
    max-width: 16px;
    height: 16px;
  }
  .active.accordian-item {
    padding-block: 22px;
  }
  .accordian-content h4{
    font-size: 16px;
    line-height: 18px;
  }
  .accordian-content p{
    font-size: 12px;
    line-height: 14px;
  }
}
/* Accordian section end */

/*===== About page start =====*/

/* about hero section start */
.about-page .hero-section{
  padding-top: 52px;
  padding-bottom: 30px;
}
.hero-content-area{
  display: flex;
  justify-content: space-between;
  gap: 94px;
  margin-top: 12px;
}
.about-page .image-wrap{
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
}

@media(max-width:768px){
.hero-content-area {
  flex-direction: column;
  gap: 40px;
}
.about-page .image-wrap{
    flex-direction: column;
    gap: 20px;
  }
.about-page .image-wrap div{
    width: 100%;
  }
  .about-page .hero-section {
    padding-top: 30px;
  }
}
/* about hero section end */
/* adipiscing section start */
.adipiscing-section{
  padding-top: 80px;
  padding-bottom: 185px;
}
.adipiscing-wrap{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.adipiscing-wrap:last-child{
  margin-bottom: 0px;
}
.adipiscing-img{
  max-width: 48.907%;
  display: flex;
}
.adipiscing-content{
  max-width: calc(100% - 48.907%);
}
.adipiscing-content .datils{
  margin-left: 56px;
  margin-top: 28px;
}
.adipiscing-content h2{
  margin-bottom: 12px;
}
.adipiscing-wrap:nth-child(odd) {
  flex-direction: row;
}
.adipiscing-wrap:nth-child(odd) .adipiscing-content {
  padding-left: 65px;   
  padding-right: 0;
}

.adipiscing-wrap:nth-child(even) {
  flex-direction: row-reverse;
}
.adipiscing-wrap:nth-child(even) .adipiscing-content {
  padding-right: 65px;
  padding-left: 0;
}

@media(max-width:1024px){
  .adipiscing-wrap:nth-child(odd) {
    flex-direction: column;
    gap: 20px;
  }
  .adipiscing-wrap:nth-child(odd) .adipiscing-content {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
  .adipiscing-img {
    max-width: 100%;
    width: 100%;
  }

  .adipiscing-wrap:nth-child(even) {
    flex-direction: column;
    gap: 20px;
  }
  .adipiscing-wrap:nth-child(even) .adipiscing-content {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }
  .adipiscing-section {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .adipiscing-wrap {
    margin-bottom: 30px;
  }
  
}
/* adipiscing section end */

/* Our Board section start */
.board-section{
  background-color: var(--color-white-light);
  padding-block: 100px;
}
.board-section .title-area{
  max-width: 886px;
  margin-bottom: 60px;
}
.board-team{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 40px;
}
.team-member h4{
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 8px;
}
.board-bottom{
  margin-top: 60px;
}

@media(max-width:768px){
  .board-team{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }
  .team-member h4 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 3px;

  }
  .board-section {
    padding-block: 30px ;
  }
  .board-section .title-area {
    margin-bottom: 30px ;
  }
  .board-bottom {
    margin-top: 40px;
  }
  
}
/* Our Board section end */
/* our-intiatives-section start */
.our-intiatives-section{
  padding-bottom: 55px;
}
.title-area{
  max-width: 760px;
}
.our-intiatives-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
  margin-bottom: 120px;
}
.our-intiatives-wrap:last-child{
  margin-bottom: 0;
}
.our-intiatives-left {
  max-width: 67px;
  font-size: 180px;
  line-height: 216px;
  color: var(--color-red);
  display: flex;
  justify-content: center;
}
.our-intiatives-middle{
  max-width: 626px;
}
.our-intiatives-right{
  max-width: 457px;
}
.our-intiatives-right h2{
  margin-bottom: 12px;
}
.climate h2{
  max-width: 360px;
}
.our-intiatives-wrap:nth-child(odd) {
  flex-direction: row-reverse;
}
/* .our-intiatives-wrap:nth-child(odd) .adipiscing-content {
  padding-left: 65px;   
  padding-right: 0;
} */

.our-intiatives-wrap:nth-child(even) {
  flex-direction: row;
}
/* .our-intiatives-wrap:nth-child(even) .adipiscing-content {
  padding-right: 65px;
  padding-left: 0;
} */
@media(max-width:768px){
  .our-intiatives-wrap {
    gap: 20px;
  }
  .our-intiatives-left {
    font-size: 100px;
    line-height: 120px;
  }
}
@media(max-width:1024px){
  .our-intiatives-wrap {
    gap: 25px;
    margin-bottom: 70px;
  }
  .our-intiatives-middle {
    max-width: 60%;
  }
  .climate h2 {
    max-width: 100%;
  }  
  .our-intiatives-wrap {
    gap: 15px;
    margin-bottom: 40px;
}
  .our-intiatives-section {
    padding-bottom: 30px;
  }
}
/* our-intiatives-section end */

/* ===== event-page start ===== */

/* her section start */
.event-section{
  padding-bottom: 65px;
}
.event-page .hero-section{
  padding-top: 0;
}
.event-page .event-wrap{
  row-gap: 48px;
}
.filter-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 48px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  width: 100%;
  padding: 8px 35px 8px 0px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-bottom: 1px solid var(--color-text);
  background: transparent;
  color: var(--color-text);
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.custom-select select:focus{
  outline: none;
}

/* Custom arrow icon */
.custom-select::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 8px;
  height: 8px;
  pointer-events: none;
  background: transparent;
  border-left: 2px solid #BD202E;
  border-bottom: 2px solid #BD202E;
  transform: translateY(-50%) rotate(-45deg);
}
.event-page .event-wrap{
  margin-top: 52px;
}
.event-page .btn-wrap{
  margin-top: 60px;
}
.event-item.hidden {
  display: none;
}

.event-item.show {
  display: block;
}
@media (max-width:768px){
  .event-page .btn-wrap {
    margin-top: 20px;
  }
  .event-section {
    padding-bottom: 30px;
  }
}
/* her section end */

/* ======= contact page ======= */

/* contact section start */
.contact-section{
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-wrap{
  display: flex;
  align-items: center;
  gap: 24px;
}
.contact-us{
  max-width: 40.546%;
  width: 100%;
}
.contact-form{
  max-width: 57.579%;
  width: 100%;
  background-color: var(--color-white-gray);
  border-radius: 32px;
  padding: 48px;
}
.contact-form input,
.form-wrap textarea{
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #A6A6A6;
  padding: 10px 0 12px 0;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.75);
}
.contact-maile{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 28px;
}
.form-wrap{
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.contact-page .custom-select select{
  border-bottom: 1px solid #A6A6A6;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.75);
}
.contact-page .custom-select::after {
  border-left: 2px solid #1A1A1D;
  border-bottom: 2px solid #1A1A1D;
}
.form-wrap textarea{
  min-height: 162px;
}
.submit-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  gap: 10px;
}
.submit-wrap p{
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 300;
}
.submit-wrap button{
  margin-right: 38px;
}
.contact-us .content{
  max-width: 387px;
  margin-bottom: 62px;
}
.content h2{
  margin-bottom: 12px;
}
.img-wrap{
  display: flex;
}
@media(max-width:768px){
 .submit-wrap {
    margin-top: 20px;
    flex-direction: column;
  }
  .submit-wrap p {
    order: 2;
  }
  .submit-wrap button {
    order: 1;
    width: 100%;
    padding: 10px;
  }
  .contact-maile {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width:1024px){
  .contact-wrap {
    flex-direction: column;
  }
  .contact-us {
    max-width: 100%;
    width: 100%;
  }
  .contact-form {
    max-width: 100%;
    width: 100%;
  }
  .submit-wrap button {
    padding: 16px 24px;
  }
}
@media(max-width:1280px){
  .submit-wrap button {
    margin-right: 0px;
  }
  .contact-form {
    padding: 30px;
  }
}
/* contact section end */
/* get-section start */
.get-section{
  padding-top: 60px;
}
.get-section .contact-wrap{
  gap: 59px;
  justify-content: unset;
}
.get-section .contact-us{
  max-width: 41.015%;
  display: flex;
  gap: 43px;
}
.location-map{
  max-width: 54.376%;
}
.location-map a{
  display: flex;
  gap: 14px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-red);
  margin-top: 23px;
}
.location-map a img{
  width: unset;
}
.location,
.email{
  width: 50%;
}
.get-section .img-wrap{
  width: 80px;
}
.contact-us span{
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 500;
  color: var(--color-title);
  margin-top: 8px;
  margin-bottom: 4px;
  display: block;
}
.submit-wrap a{
  color: var(--color-red);
  text-decoration: underline;
}
@media(max-width:1024px){
  .get-section .contact-us {
    max-width: 100%;
  }
  .location-map {
    max-width: 100%;
  }
  .get-section .img-wrap{
    width: 60px;
  }
  .get-section .contact-wrap {
      margin-top: 30px;
    }
  .contact-page .contact-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .get-section {
    padding-top: 30px;
  }
  .contact-page .contact-form {
    padding: 20px;
  }
  .contact-page .form-wrap {
    gap: 20px;
  }
  .contact-page .contact-maile {
    gap: 20px;
  }
  .contact-page .form-wrap textarea {
    min-height: 120px;
  }
  .contact-page .contact-form input,
  .contact-page .form-wrap textarea {
    font-size: 13px;
    line-height: 16.4px;
  }
  .contact-page .custom-select select {
    font-size: 14px;
    line-height: 16.4px;
    font-weight: 500;
  }
}
/* get-section end */





















/* join section start */
.join-section{
  margin-top: 75px;
  position: relative;
  border-top: 1px solid rgba(199, 199, 199, 0.2);
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
}
.join-section .container{
  max-width: 1167px;
  width: 100%;
}
/* .join-form-wrap{
  position: relative;
} */
 .join-form-wrap{
  position: absolute;
  top: 0;
  width: 100%;
 }
.join-image {
  background-image: url(./assets/img/initiatives.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 499px;
  width: 50%;
  margin: 0 0 0 auto;
}
.join-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 499px;
  display: flex;
  align-items: center;
}
.join-form-inner{
  max-width: 376px;
  form {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 16px;
  }
  input[type="email"] {
    max-width: 237px;
    width: 100%;
    border-bottom: 1px solid #AFAFAF;
    padding-bottom: 12px;
  }
  h2{
    margin-bottom: 12px;
  }
  p{
    margin-bottom: 28px;
  }
}
@media(max-width:1024px){
  .join-section {
    margin-top: 30px;
  }
  .join-form-inner{
    margin: 0 auto;
    padding-block: 20px;
  }
  .join-form-wrap {
    position: relative;
  }
  .join-form {
    position: relative;
    width: 100%;
    min-height: unset;
    max-width: 100%;
  }
  .join-image {
    width: 100%;
    min-height: 350px;
  }
}
/* join section end */
/* Footer section start */
.footer-top{
  border-bottom: 1px solid rgba(220, 220, 220, 1);
}
.footer-section .container{
  max-width: 1167px;

}
.footer-wrap{
  display: flex;
  justify-content: space-between;
  padding-block: 80px;
}
.footer-logo {
  max-width: 90px;
}
.footer-bottom .footer-wrap{
  align-items: center;
  padding-block: 20px;
}
.footer-content{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-item{
  width: 197px;
}
.footer-item h5{
  color: var(--color-red);
  margin-bottom: 20px;
}
.footer-item ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-item a{
  transition: 0.3s ease-in;
}
.footer-item a:hover{
  color: var(--color-red);
}
.contact-info{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-social{
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-social a{
  display: flex;
}

.copyright p,
.footer-bottom-link a{
  font-size: 13px;
  line-height: 16.9px;
  transition: 0.3s ease-in;
}
.footer-bottom-link{
  display: flex;
  gap: 20px;
}
.footer-bottom-link a:hover{
  color: var(--color-red);
}
@media(max-width:420px){
  .footer-bottom .footer-wrap{
    align-items: start;
  }
  .footer-bottom-link{
    flex-direction: column;
  }
}
@media(max-width:768px){
  .footer-wrap {
    gap: 20px;
    flex-direction: column;
  }
  .footer-item ul {
    gap: 10px;
  }
  .contact-info{
    gap: 10px;
  }
  .footer-social {
    order: 2;
  }
  .footer-bottom-link {
    order: 1;
  }
  .copyright{
    order: 3;
  }
  .footer-logo {
    max-width: 60px;
  }
  .footer-wrap {
    padding-block: 30px;
  }
}
@media(max-width:1024px){
  .footer-bottom .footer-wrap{
    flex-direction: column;
    gap: 20px;
  }
}
/* Footer section end */